.apache
.secrets
.venv
.staticfiles
.dbsql*
docker-compose*
*.csv
.env*
generate_exams_csv.py
build-and-push.sh
VERSION
Dockerfile
performance_tests
dump
demo
.run
.github
.junie
documentation
landing
model_cache
tmp/
temp/
*.tmp
# App
docker-compose.dev.yaml
# AI outputs
*output*