Django>=6.0.1
requests>=2.31.0
psycopg2-binary
pytest
testcontainers[postgres]
pytest-django
babel
google-genai
fastembed==0.5.1
numpy
pgvector
gunicorn
uvicorn
uvicorn-worker
pandas
openpyxl
whitenoise
celery
redis
django-allauth[socialaccount]
google-auth-oauthlib
google-auth