/* Styles for templates/transactions/transaction_create.html */

.transaction-create-header-icon {
    vertical-align: middle;
    margin-right: 8px;
}

.transaction-create-save-icon {
    vertical-align: middle;
    margin-right: 4px;
}
