{% extends "components/header.html" %}
{% block header_content %}
    <div class="filters filters-clean">
        <div class="filter-group">
            <label for="year-select" class="desktop-only">Anno</label>
            <select id="year-select"
                    name="year"
                    class="form-select"
                    form="main-filter-form"
                    onchange="debounceFormSubmit(this.form)">
                {% for available_year in available_years %}
                    <option value="{{ available_year }}" {% if available_year == year %}selected{% endif %}>
                        {{ available_year }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}