{% load static %}
<link rel="manifest" href="{% static 'manifest.json' %}">
<meta name="theme-color" content="#FFC107">
<link rel="apple-touch-icon" href="{% static 'icons/icon-192x192.svg' %}">
<script src="{% static 'sw.js' %}"></script>
<script>
    // Verify if the browser supports service workers
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            // Register the service worker for the PWA
            navigator.serviceWorker.register('/sw.js')
                .then((registration) => {
                    console.log('ServiceWorker registered successfully. Scope: ', registration.scope);
                })
                .catch((error) => {
                    console.error('ServiceWorker registration failed: ', error);
                });
        });
    }
</script>
