{% extends "main/index.html" %}
{% load static %}

{% block title %}Costi API Gemini{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-2">
        {% include "components/header-with-year-select.html" with icon="assessment" title="Costi API Gemini" show_toggle=False %}

        <form id="main-filter-form"
              hx-get="{% url 'costs:summary' %}"
              hx-target="#cost-results"
              hx-swap="outerHTML settle:500ms"
              hx-indicator="#cost-results"
              hx-trigger="change, change from:[name='year']"
              hx-include="[form='main-filter-form']"></form>

        {% include "costs/components/summary_results.html" %}
    </div>
{% endblock %}
