{% extends "main/index.html" %}
{% load static %}

{% block title %}Aggiungi Spesa{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="header">
            <div class="header-title-container">
                <h1><span class="material-icons" style="vertical-align: middle; margin-right: 8px;">add_circle</span> Aggiungi Spesa</h1>
            </div>
            <div class="header-actions">
                <a href="{% url 'transaction_list' %}" class="btn btn-secondary">
                    Annulla
                </a>
            </div>
        </div>

        <div class="mt-4 mt-4-mobile">
            <div class="detail-card">
                <div class="detail-header">
                    <h2>Nuova Transazione</h2>
                </div>
                <div class="detail-body">
                    {% include "transactions/components/transaction_create_form.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}
