{% extends "main/index.html" %}
{% load static %}

{% block title %}Nuova Spesa{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
    <link rel="stylesheet" href="{% static 'css/transaction-create.css' %}">
    <link rel="stylesheet" href="{% static 'css/transaction-form.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-2">
        <div class="header">
            <div class="header-title-container">
                <h1><span class="material-icons transaction-create-header-icon">add_circle</span> Nuova Spesa</h1>
            </div>
            <div class="header-actions">
                <button type="submit" form="transaction-form" class="btn btn-primary desktop-only">
                    <span class="material-icons transaction-create-save-icon">save</span> Salva
                </button>
            </div>
        </div>

    <div class="mt-4">
        <div class="detail-card">
             <div class="detail-body">
                {% include "transactions/components/transaction_form.html" with is_update=False %}
             </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}
